/* EventForm.module.css */
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 500px;
}


.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.submit-button {
    width: max-content;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin: auto;
    margin-top: 15px;
}

.submit-button:hover {
    font-weight: bold;
    background-color: #c7ddfd;
}

.submit-button:disabled {
    background-color: #e7f0fd;
    border-color: #e7f0fd;
    color: #0d6efd;
    cursor: not-allowed;
}

.submit-button:disabled:hover {
    font-weight: normal;
}

/* cancel-button a red one with the same color gamma */
.cancel-button {
    width: max-content;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin: auto;
    margin-top: 15px;
    margin-left: 10px;
}

.cancel-button:hover {
    font-weight: bold;
    background-color: #f8d7da;
}