/* WebinarForm.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
    border-radius: 10px;
    background-color: white;
}

.formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
}

.input,
.textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textarea {
    resize: vertical;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.submitButton {
    padding: 8px 16px;
    background: transparent;
    color: #009c05;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.submitButton:hover {
    background-color: #e1ffe2;
}
